@charset "UTF-8";

@media screen and (min-width: 1240px) {

    /* HOME */

    #home {
        height: 100vh;
        display: flex;
        align-items: center;
    }
    .home-container {
        padding-top: 0;
        column-gap: 5rem;
        grid-template-columns: 1.25fr 0.75fr;
        grid-template-areas: 
            "title image"
            "subtitle image"
            "texto image"
            "button image";
    }

    /* TECNOLOGIAS */

    #tecnologias {
        padding-top: 0;
    }

    /* PROJETOS */

    #projetos {
        margin-top: 15rem;
    }

    .conjunto-de-projetos {
        margin-top: 10rem;
        gap: 17rem;
    }

    .projetos-projeto {
        display: grid;
        column-gap: 5rem;
        grid-template-columns: 0.75fr 1.25fr;
        grid-template-areas: 
            "image title"
            "image description"
            "image button-1"
            "image button-2"
            "image button-3";
    }

    .projetos-projeto:nth-child(2n) {
        grid-template-columns: 1.25fr 0.75fr;
        grid-template-areas: 
            "title image"
            "description image"
            "button-1 image"
            "button-2 image"
            "button-3 image";
    }

    .projetos-projeto-image {
        grid-area: image;
    }

    .projetos-projeto-title {
        grid-area: title;
    }

    .projeto-projetos-text {
        grid-area: description;
    }

    .projeto-projetos-button1 {
        grid-area: button-1;
    }

    .projeto-projetos-button2 {
        grid-area: button-2;
    }

    .projeto-projetos-button3 {
        grid-area: button-3;
    }

    /* SOBRE */

    #sobre {
        grid-template-columns: 1.25fr 0.75fr;
        margin: 20rem 0;
        column-gap: 5rem;
    }
}