@charset "UTF-8";

/* ERROR AND SUCCESS */

.form-control.success input, .form-control.error textarea {
    border: 1px solid var(--success-color);
}

.form-control.error input, .form-control.error textarea {
    border: 1px solid var(--error-color);
}

.form-control.error i.fa-circle-exclamation {
    visibility: visible;
}

.form-control.success i.fa-circle-check {
    visibility: visible;
}

.form-control.error small {
    visibility: visible;
}
