@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url(/mobile.css);
@import url(tablet.css);
@import url(desktop.css);
@import url(animation.css);
@import url(form.css);

:root {
    --main-bg-color: #232323;
    --main-text-color: #EEEBEB;
    --green-color: #00B070;
    --footer-color: #303030;
    --success-color: #2ecc71;
    --error-color: #e74c3c;
    --main-font: "Roboto Slab", serif;
}
