@charset "UTF-8";

@media screen and (min-width: 840px) {

    /* GERAL */

    .titulo {
        font-size: 4.25rem;
    }

    .text, .home-text, .button-1, .button-2 {
        font-size: 1.125rem;
    }

    /* HOME */

    #home {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .home-container {
        display: grid;
        column-gap: 4rem;
        gap: 1rem;
        grid-template-columns: 1.25fr 0.75fr;
        grid-template-areas: 
            "title image"
            "subtitle image"
            "texto image"
            "button button";
    }

    .home-titulo {
        align-self: center;
        grid-area: title;
        font-size: 4.25rem;
    }

    .home-image {
        grid-area: image;
        height: 100%;
        object-fit: cover;
    }
    
    .home-subtitulo {
        grid-area: subtitle;
        font-size: 1.75rem;
    }

    .home-text {
        grid-area: texto;
    }

    .home-button {
        margin-top: 1rem;
        grid-area: button;
    }

    /* TECNOLOGIAS */

    .tecnologias-icons {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tenologias-icons-icon {
        height: 180px;
        width: 180px;
    }

    .tecnologia-icons-container {
        align-self: center;
    }

    .tecnologia-icons-container:nth-child(1) {
        justify-self: start;
    }

    .tecnologia-icons-container:nth-child(4) {
        justify-self: start;
    }

    .tecnologia-icons-container:nth-child(3) {
        justify-self: end;
    }

    .tecnologia-icons-container:nth-child(6) {
        justify-self: end;
    }

    .tecnologia-icons-container:nth-child(2) {
        justify-self: center;
    }

    .tecnologia-icons-container:nth-child(5) {
        justify-self: center;
    }


    /* SOBRE */

    #sobre {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title image"
            "p1 image"
            "p2 image"
            "p3 image"
            "icons image";
    }

    .sobre-title {
        grid-area: title;
    }

    .sobre-image {
        grid-area: image;
    }

    .sobre-p1 {
        grid-area: p1;
    }

    .sobre-p2 {
        grid-area: p2;
    }

    .sobre-p3 {
        grid-area: p3;
    }

    .sobre-icons {
        grid-area: icons;
    }

    .sobre-image-img {
        height: 100%;
        object-fit: cover;
    }

    /* CONTATO */

    .formulario {

        grid-template-areas: 
            "name email"
            "message message"
            "button button";
    }

    .formulario-nome {
        grid-area: name;
    }

    .formulario-email {
        grid-area: email;
    }

    .formulario-message {
        grid-area: message;
    }

    .formulario-button {
        grid-area: button;
    }

    .formulario-message small {
        grid-area: textinho;
    }
}